.popup__button-confirm-deleted {
    background-color: #000000;
    color: #fff;
    min-height: 50px;
    min-width: 358px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: 0;
    border-radius: 2px;
    transition: opacity .2s ease;
    margin-bottom: 34px;
    margin-top: auto;
}

.popup__button-confirm-deleted:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 650px) {
    .popup__button-confirm-deleted {
        min-height: 46px;
        min-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}