.element__trash {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/Trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity .2s ease;
}

.element__trash:hover {
    cursor: pointer;
    opacity: 60%;
}