.element__like {
    margin-left: auto;
    border: none;
    background-color: #fff;
    transition: opacity 0.2s ease;
    background-image: url(../../../images/hart.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
}

.element__like:hover {
    cursor: pointer;
    opacity: 50%;
}
