.popup{
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity 0.5s linear;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
